<h2>Feedback</h2>
<form action="/feedback" method="post">
  <p>Bạn hài lòng với dịch vụ của chúng tôi không?</p>
  <input type="radio" id="satisfied" name="satisfaction" value="Satisfied" required>
  <label for="satisfied">Hài lòng</label><br>
  <input type="radio" id="not_satisfied" name="satisfaction" value="Not Satisfied" required>
  <label for="not_satisfied">Không hài lòng</label><br>
  <button type="submit">Submit</button>
</form>
