<h2>Tell Us About Yourself</h2>
<form action="/process-contact" method="post">
<div>
    <label >
        <input name="name">
    </label>
</div>
<br>
<label>Your email:
    <input type="email" name="email" id="">

</label>
<br>
<div>
    <button type="submit">Submit</button>
</div>
</form>
