<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Web Development with Node and Express Examples</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <body>
        <h1>Web Development with Node and Express  2nd Edition Examples</h1>
    </body>
    <hr>
    {{{body}}}
</body>
</html>