<!DOCTYPE html>

<head>
    <title>Web Development with Node and Express Examples</title>
</head>
<body>
    <body>
        <h1>Web Development with Node and Express  2nd Edition Examples</h1>
    </body>
    {{{body}}}
</body>
</html>